@page {
  size: 6in 4in;
}
@font-face {
  font-family:"omnes-regular";
  src:url("https://use.typekit.net/af/9ebd61/000000000000000077359c26/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/9ebd61/000000000000000077359c26/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/9ebd61/000000000000000077359c26/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:600;
}
@font-face {
font-family:"omnes-semibold";
src:url("https://use.typekit.net/af/b6e4b0/000000000000000077359c3e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/b6e4b0/000000000000000077359c3e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/b6e4b0/000000000000000077359c3e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}
/* .row {
  background-color: white;
}
.column {
  width: 50%;
}
Clear floats after the columns
.row:after {
  content: "";
  display: table;
  clear: both;
}
.small {
  font-size: 20px;
  line-height: 22px;
  margin-left: 15px;
  margin-right: 15px;
}
.medium {
  font-size: 18px;
  line-height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.large {
  font-size: 16px;
  line-height: 18px;
  margin-left: 5px;
  margin-right: 5px;
}
.charLimit {
  text-align: center;
  font-family: "omnes-regular";
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.logo {
  max-width: 90%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 60%;
  margin-top: 90px;
  margin-bottom: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header, footer {
  text-align: center;
  font-family: 'omnes-semibold';
  color: gray;
  opacity: 60%;
}
@media print {
   #newnotecard {
     page-break-after: always;
     clear: both;
    }
} */
